table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    th,
    tr {
      border: 1px solid #ccc;
    }
    th,
    td {
      text-align: left;
      padding: 10px;
      .purchasedTokens{
        background-color: green;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
      }
      .spentTokens{
        background-color: red;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
  
    tr:nth-child(even) {
      background-color: #f0f0f0;
    }
}
