/* You can add global styles to this file, and also import other style files */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}